mixin about()
    .about#con
        .about__canvas
        .about__wrap
            .about__el-1.about__el
                h2.about__el-title UNMISSABLE
                p.about__el-p Step in a world of rebel luxury, iconic design, sophisticated materials, tactile pleasure. The experience begins in the W Lounge, where a sophisticated and stylish atmosphere awakens your senses.  
            .about__el-2.about__el 
                h2.about__el-title UPSCALE
                p.about__el-p Enter one of the exclusive 384 residences and start feeling at home from the very first moment. Floor to ceiling glass facades and staggered balconies allow plenty of sunlight in every room, while accent wallpapers underline their vibrant personality