mixin amenities() 
    section.amenities#amenities 
        .amenities__container 
            .amenities__overlay 
            .amenities__white 
            .amenities__content 
                .amenities__black 
                .amenities__pagination 
                    span 03  
                    .amenities__pagination-hr 
                        .amenities__pagination-thumb 
                    span#activeSlide 01  
                .amenities__gallery 
                    .amenities__gallery-slide.active#gal-1 
                        .amenities__gallery-inner(style="background-image: url(./img/amenities-1.png)")
                    .amenities__gallery-slide#gal-2 
                        .amenities__gallery-inner(style="background-image: url(./img/amenities-2.png)")
                    .amenities__gallery-slide#gal-3 
                        .amenities__gallery-inner(style="background-image: url(./img/amenities-3.png)")
            .amenities__swiper.swiper 
                .amenities__wrapper.swiper-wrapper 
                    .amenities__slide.swiper-slide(data-gallery="#gal-1") 
                        .amenities__slide-wrap 
                            h2.amenities__slide-title Amenities 
                            span.amenities__slide-tag Burj khalifa 
                            p.amenities__slide-p Impressive views, along with the Dubai Mall and the Dancing Fountains, are just a few minutes away.
                    .amenities__slide.swiper-slide(data-gallery="#gal-2")
                        .amenities__slide-wrap 
                            h2.amenities__slide-title Amenities
                            span.amenities__slide-tag Fitness centre
                            p.amenities__slide-p Advanced fitness centre with professional trainers and a variety of programs.
                    .amenities__slide.swiper-slide(data-gallery="#gal-3")
                        .amenities__slide-wrap 
                            h2.amenities__slide-title Amenities
                            span.amenities__slide-tag VIP lounge 
                            p.amenities__slide-p A VIP lounge where new connections spark over a signature cocktail or a gourmet lunch.