mixin amenities() 
    section.amenities#amenities 
        .amenities__overlay 
        .amenities__content 
            .amenities__rect 
        .amenities__swiper.swiper 
            .amenities__wrapper.swiper-wrapper 
                .amenities__slide.swiper-slide
                .amenities__slide.swiper-slide
                .amenities__slide.swiper-slide