mixin intro()
    section.intro#intro
        .intro__body
            .intro__canvas 
            .intro__content 
                .intro__inner 
                    p.intro__p Welcome To The
                    h1.intro__title W DOWNTOWN 
                    button(type="button").intro__btn.button_black.button.hover.btn-anim 
                        .btn-anim__scroll
                            span.btn-anim__p ENTER EXPERIENCE 
                            span.btn-anim__p ENTER EXPERIENCE 
                        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.5 28C23.1274 28 28.5 22.6274 28.5 16C28.5 9.37258 23.1274 4 16.5 4C9.87258 4 4.5 9.37258 4.5 16C4.5 22.6274 9.87258 28 16.5 28Z" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17.2617 20.2377L21.4992 16.0002L17.2617 11.7627" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.5 16H21.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
