mixin map()
    section.map#map
        .container 
            h2.map__title LOCATION
        .map__img
            img(src="@img/location-map.svg", alt="map")
        .map__inner
            .map__slide 
                .map__slide-inner
                    .swiper#map-swiper
                        .swiper-wrapper.map__slide-wrapper
                            .swiper-slide
                                .map__slide-item
                                    .map__slide-img 
                                        img(src="@img/map-slide-1.png", alt="")
                                    .map__slide-content
                                        h4.map__slide-title  <span>12</span>  <span>minitues</span>
                                        p.map__slide-p 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.75 8.75H17.9062L15.7344 3.86719C15.6371 3.64592 15.4773 3.45784 15.2747 3.32601C15.0721 3.19418 14.8355 3.12432 14.5938 3.125H5.40625C5.16453 3.12432 4.92787 3.19418 4.72526 3.32601C4.52266 3.45784 4.36292 3.64592 4.26562 3.86719L2.09375 8.75H1.25C1.08424 8.75 0.925268 8.81585 0.808058 8.93306C0.690848 9.05027 0.625 9.20924 0.625 9.375C0.625 9.54077 0.690848 9.69974 0.808058 9.81695C0.925268 9.93416 1.08424 10 1.25 10H1.875V16.25C1.875 16.5815 2.0067 16.8995 2.24112 17.1339C2.47554 17.3683 2.79348 17.5 3.125 17.5H5C5.33152 17.5 5.64946 17.3683 5.88388 17.1339C6.1183 16.8995 6.25 16.5815 6.25 16.25V15H13.75V16.25C13.75 16.5815 13.8817 16.8995 14.1161 17.1339C14.3505 17.3683 14.6685 17.5 15 17.5H16.875C17.2065 17.5 17.5245 17.3683 17.7589 17.1339C17.9933 16.8995 18.125 16.5815 18.125 16.25V10H18.75C18.9158 10 19.0747 9.93416 19.1919 9.81695C19.3092 9.69974 19.375 9.54077 19.375 9.375C19.375 9.20924 19.3092 9.05027 19.1919 8.93306C19.0747 8.81585 18.9158 8.75 18.75 8.75ZM6.25 12.5H5C4.83424 12.5 4.67527 12.4342 4.55806 12.3169C4.44085 12.1997 4.375 12.0408 4.375 11.875C4.375 11.7092 4.44085 11.5503 4.55806 11.4331C4.67527 11.3159 4.83424 11.25 5 11.25H6.25C6.41576 11.25 6.57473 11.3159 6.69194 11.4331C6.80915 11.5503 6.875 11.7092 6.875 11.875C6.875 12.0408 6.80915 12.1997 6.69194 12.3169C6.57473 12.4342 6.41576 12.5 6.25 12.5ZM13.75 12.5C13.5842 12.5 13.4253 12.4342 13.3081 12.3169C13.1908 12.1997 13.125 12.0408 13.125 11.875C13.125 11.7092 13.1908 11.5503 13.3081 11.4331C13.4253 11.3159 13.5842 11.25 13.75 11.25H15C15.1658 11.25 15.3247 11.3159 15.4419 11.4331C15.5592 11.5503 15.625 11.7092 15.625 11.875C15.625 12.0408 15.5592 12.1997 15.4419 12.3169C15.3247 12.4342 15.1658 12.5 15 12.5H13.75Z" fill="white"/>
                                            </svg>
                                            span the Miracle Garden
                                        .map__slide-pag
                                            .swiper-pagination
                            .swiper-slide
                                .map__slide-item
                                    .map__slide-img 
                                        img(src="@img/map-slide-2.png", alt="")
                                    .map__slide-content
                                        h4.map__slide-title  <span>20</span>  <span>minitues</span>
                                        p.map__slide-p 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.75 8.75H17.9062L15.7344 3.86719C15.6371 3.64592 15.4773 3.45784 15.2747 3.32601C15.0721 3.19418 14.8355 3.12432 14.5938 3.125H5.40625C5.16453 3.12432 4.92787 3.19418 4.72526 3.32601C4.52266 3.45784 4.36292 3.64592 4.26562 3.86719L2.09375 8.75H1.25C1.08424 8.75 0.925268 8.81585 0.808058 8.93306C0.690848 9.05027 0.625 9.20924 0.625 9.375C0.625 9.54077 0.690848 9.69974 0.808058 9.81695C0.925268 9.93416 1.08424 10 1.25 10H1.875V16.25C1.875 16.5815 2.0067 16.8995 2.24112 17.1339C2.47554 17.3683 2.79348 17.5 3.125 17.5H5C5.33152 17.5 5.64946 17.3683 5.88388 17.1339C6.1183 16.8995 6.25 16.5815 6.25 16.25V15H13.75V16.25C13.75 16.5815 13.8817 16.8995 14.1161 17.1339C14.3505 17.3683 14.6685 17.5 15 17.5H16.875C17.2065 17.5 17.5245 17.3683 17.7589 17.1339C17.9933 16.8995 18.125 16.5815 18.125 16.25V10H18.75C18.9158 10 19.0747 9.93416 19.1919 9.81695C19.3092 9.69974 19.375 9.54077 19.375 9.375C19.375 9.20924 19.3092 9.05027 19.1919 8.93306C19.0747 8.81585 18.9158 8.75 18.75 8.75ZM6.25 12.5H5C4.83424 12.5 4.67527 12.4342 4.55806 12.3169C4.44085 12.1997 4.375 12.0408 4.375 11.875C4.375 11.7092 4.44085 11.5503 4.55806 11.4331C4.67527 11.3159 4.83424 11.25 5 11.25H6.25C6.41576 11.25 6.57473 11.3159 6.69194 11.4331C6.80915 11.5503 6.875 11.7092 6.875 11.875C6.875 12.0408 6.80915 12.1997 6.69194 12.3169C6.57473 12.4342 6.41576 12.5 6.25 12.5ZM13.75 12.5C13.5842 12.5 13.4253 12.4342 13.3081 12.3169C13.1908 12.1997 13.125 12.0408 13.125 11.875C13.125 11.7092 13.1908 11.5503 13.3081 11.4331C13.4253 11.3159 13.5842 11.25 13.75 11.25H15C15.1658 11.25 15.3247 11.3159 15.4419 11.4331C15.5592 11.5503 15.625 11.7092 15.625 11.875C15.625 12.0408 15.5592 12.1997 15.4419 12.3169C15.3247 12.4342 15.1658 12.5 15 12.5H13.75Z" fill="white"/>
                                            </svg>
                                            span the Miracle Garden
                                        .map__slide-pag
                                            .swiper-pagination
                                            
                            .swiper-slide
                                .map__slide-item
                                    .map__slide-img 
                                        img(src="@img/map-slide-3.png", alt="")
                                    .map__slide-content
                                        h4.map__slide-title  <span>16</span>  <span>minitues</span>
                                        p.map__slide-p 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.75 8.75H17.9062L15.7344 3.86719C15.6371 3.64592 15.4773 3.45784 15.2747 3.32601C15.0721 3.19418 14.8355 3.12432 14.5938 3.125H5.40625C5.16453 3.12432 4.92787 3.19418 4.72526 3.32601C4.52266 3.45784 4.36292 3.64592 4.26562 3.86719L2.09375 8.75H1.25C1.08424 8.75 0.925268 8.81585 0.808058 8.93306C0.690848 9.05027 0.625 9.20924 0.625 9.375C0.625 9.54077 0.690848 9.69974 0.808058 9.81695C0.925268 9.93416 1.08424 10 1.25 10H1.875V16.25C1.875 16.5815 2.0067 16.8995 2.24112 17.1339C2.47554 17.3683 2.79348 17.5 3.125 17.5H5C5.33152 17.5 5.64946 17.3683 5.88388 17.1339C6.1183 16.8995 6.25 16.5815 6.25 16.25V15H13.75V16.25C13.75 16.5815 13.8817 16.8995 14.1161 17.1339C14.3505 17.3683 14.6685 17.5 15 17.5H16.875C17.2065 17.5 17.5245 17.3683 17.7589 17.1339C17.9933 16.8995 18.125 16.5815 18.125 16.25V10H18.75C18.9158 10 19.0747 9.93416 19.1919 9.81695C19.3092 9.69974 19.375 9.54077 19.375 9.375C19.375 9.20924 19.3092 9.05027 19.1919 8.93306C19.0747 8.81585 18.9158 8.75 18.75 8.75ZM6.25 12.5H5C4.83424 12.5 4.67527 12.4342 4.55806 12.3169C4.44085 12.1997 4.375 12.0408 4.375 11.875C4.375 11.7092 4.44085 11.5503 4.55806 11.4331C4.67527 11.3159 4.83424 11.25 5 11.25H6.25C6.41576 11.25 6.57473 11.3159 6.69194 11.4331C6.80915 11.5503 6.875 11.7092 6.875 11.875C6.875 12.0408 6.80915 12.1997 6.69194 12.3169C6.57473 12.4342 6.41576 12.5 6.25 12.5ZM13.75 12.5C13.5842 12.5 13.4253 12.4342 13.3081 12.3169C13.1908 12.1997 13.125 12.0408 13.125 11.875C13.125 11.7092 13.1908 11.5503 13.3081 11.4331C13.4253 11.3159 13.5842 11.25 13.75 11.25H15C15.1658 11.25 15.3247 11.3159 15.4419 11.4331C15.5592 11.5503 15.625 11.7092 15.625 11.875C15.625 12.0408 15.5592 12.1997 15.4419 12.3169C15.3247 12.4342 15.1658 12.5 15 12.5H13.75Z" fill="white"/>
                                            </svg>
                                            span the Miracle Garden
                                        .map__slide-pag
                                            .swiper-pagination
                    
                    .map__slide-btns
                                .map__slide-btn.map__slide-prev
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.66536 10.998H18.332" stroke="#E1A346" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12.332 4.99805L18.332 10.998L12.332 16.998" stroke="#E1A346" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .map__slide-btn.map__slide-next
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.66536 10.998H18.332" stroke="#E1A346" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12.332 4.99805L18.332 10.998L12.332 16.998" stroke="#E1A346" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
