mixin payment()
    section.payment#payment 
        .payment__img
            img(src="img/payment.png", alt="")
        .container
            .payment__inner
                .payment__title PAYMENT PLAN
                .payment__cards 
                    .payment__card
                        h4.payment__card-title 10%
                        .payment__card-text 
                            p ON BOOKING
                    .payment__card
                        h4.payment__card-title 10%
                        .payment__card-text 
                            p WITHIN 60 DAYS <br> FROM BOOKING 
                    .payment__card
                        h4.payment__card-title 40%
                        .payment__card-text 
                            p DURING CONSTRUCTION
                    .payment__card
                        h4.payment__card-title 40%
                        .payment__card-text 
                            p ON COMPLETION

